ipykernel
ipython
matplotlib
matplotlib-inline
numpy
nvidia-ml-py
opencv-python
pandas
pillow
pycocotools
pytz
scikit-learn
scipy
seaborn
# setuptools
sympy
timm
torch
torchmetrics
torchvision
tqdm
wandb
